<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>One Day Chat</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="float_left_btn">
    <h4 id="user_name">유저 아이디</h4>
</div>
<div class="float_right_btn">
    <form method="post" action='/create'>
        <!--<input id="create_room" type="image" src="../static/add.png" value="submit" width="40px" height="40px"/>-->
        <input type="submit" value="방 만들기"/>
    </form><br/>
    <form method="post" action='/signup'>
        <input type="submit" value="회원 가입"/>
    </form>
</div>
<div class="work_box">
    {% for r in room%}
    <form method="post" action='/room'>
        <div class="chat_box">
            <img id="man" src="../static/man.png" width="100px" height="100px"/>
            <input id="room_name" type="submit" name="no" value="{{ r[0] }}"/>         {{ r[1] }}
            <hr/>
            <h4 id="last_chat"><!--{{ last_chat }}-->마지막 채팅 내용</h4>
        </div>
    </form>
    {% endfor %}
</div>
</body>
</html>