<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>One Day Chat</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="work_box">
    <form method="post" action='/'>
        <input type="hidden" name="cmd" value="login"/>
        아이디 : <input type="text" name="id"><br/><br/>
        비밀번호 : <input type="password" name="pwd"><br/><br/>
        <input type="submit" value="로그인"/>
    </form><br/>
    <form method="post" action="/signup">
        <input type="hidden" name="cmd" value="signup"/>
        <input type="submit" value="회원가입">
    </form>
</div>
</body>
</html>