<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>One Day Chat</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="work_box">
    <form method="post" action="/signup/submit">
        아이디 : <input type="text" name="id"><br/><br/>
        비밀번호 : <input type="password" name="pwd"><br/><br/>
        비밀번호 확인 : <input type="password" name="pwdc"><br/><br/>
        <input type="submit" value="아이디 생성하기">
    </form>
</div>
</body>
</html>